:root {
  --blue: #002D62;
}

button {
  color: var(--blue);
  height: 65px;
  width: 25%;
  font-size: 150%;
  border: 2.5px solid var(--blue);
  border-radius: 4px;
  background-color: white;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
  background-color: var(--blue);
  color: white;
  border-color: white;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
}

.level-clicked {
  background-color: #FFC000;
}
