:root {
  --blue: #0047AB;
}

button {
  color: #0047AB;;
  height: 73px;
  width: 30%;
  font-size: 175%;
  font-weight: 500;
  border: 2.5px solid #0047AB;
  border-radius: 8px; /* Increased border-radius for a softer appearance */
  background-color: #F8F9FA; /* Slightly off-white for a subtle contrast */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for a subtle lift */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.2s; /* Added smooth transition for hover effects */
}

button:hover {
  background-color: #FFC516; /* Gold background on hover */
  color: #FFFFFF; /* White text on hover */
  border-color: #FFC516; /* Gold border on hover */
  transform: translateY(-2px); /* Slight lift on hover */
}

button:active {
  transform: translateY(0); /* Reset lift on click */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduced shadow on click */
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
}

.level-clicked {
  background-color: #FFC516;
}
