:root {
  --blue: #0047AB;
}
button {
  color: #0047AB;
  height: 73px;
  width: 27%;
  font-size: 175%;
  font-weight: 500;
  border: 2.75px solid #0047AB;
  border-radius: 4px;
  background-color: white;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
  background-color: #0047AB;
  color: white;
  border-color: white;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
}

.level-clicked {
  background-color: #ffc516;
}
